.octodex {

  }

.octocat {
float: left;
margin: 30px;
border-bottom: 2px solid lightgrey;
}

img {
border: 2px solid lightgrey;
border-radius: 10px;
}

a {

}

li {
  list-style: none;
}

span.image-number {
  float: bottom left;
}

.authors img {
width: 75px;
float: right;
border-color: white;
border-radius: 10px;
padding: 10px;
}

.image-footer {
display: inline-block;
height: 100px;
border-bottom: 2px lightgrey;


}

.image-caption {
position: relative;
font: 40px helvetica;

}