.octodex {
font: bold 30px/1.4 arial;
height: 1000px;
}

.octocat {
float: left;
margin: 30px;
border-bottom: 2px solid lightgrey;
padding-bottom: -10px;
}

img {
border: 2px solid lightgrey;
border-radius: 10px;
}

a {
  color: black;
  text-decoration: none;
  position: relative;
  bottom: 30px;
  left: 20px;

}

li {
  list-style: none;
}

span {
  color: gray;
  position: relative;
  padding-bottom: 10px;
  position: relative;
  bottom: 30px;
  left: 20px;
}


span.image-number{
  color: lightgrey;
  position: relative;
  top: 15px;
}

span.image-number:before {
  color: lightgrey;
  content: "#";
 }

.authors img {
width: 75px;
float: right;
border-color: white;
border-radius: 15px;

}

.image-footer:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0 100px;
  border-color: lightgray transparent transparent transparent;
  position: absolute;
}

.image-footer {
  height: 40px;
  width: 900px;
  padding: 10px;
  position: relative;
}

.authors {
  display: inline-block;
 }

.image-caption {
  float: right;
  display: inline-block;
}